@using System.Globalization;
@using System.Web
@model PersonalAccounting.Domain.Reports.ReceiptsStatementModel
<html>
<head>
    <style>
        td a {
            color: black;
        }
    </style>
</head>
<body>
    <h1>Statement - @DateTime.Now.ToShortDateString() - @Model.UserName</h1>
    <style>
        .grid {
            margin-top: 5px;
        }

            .grid .transfersList {
                width: 100%;
                font-size: 14px !important;
            }

                .grid .transfersList td, .grid .transfersList th {
                    border: 1px solid gray;
                }

                /* Stripe effect */
                .grid .transfersList tbody tr {
                    background-color: rgba(0,0,0,0.04);
                }

                    .grid .transfersList tbody tr:nth-child(even) {
                        background: rgba(255,255,255,0.4);
                    }

                    .grid .transfersList tbody tr td {
                        padding: 4px;
                        font-size: 14px !important;
                    }

    </style>
    <div>
        <h3>Declerations</h3>
        <hr />
        <ul>
            <li>TotalReceiptAmount : <i>Total amount of recipt</i></li>
            <li>UserPaid : <i>Total amount that current user paid in current receipt</i></li>
            <li>UserOwed : <i>Total amount that current user owe to payer of current receipt</i></li>
            <li>Balance : <i>user balance in current receipt</i></li>
            <li>RunningTotal : <i>Summary from beginning until now</i></li>
        </ul>
        <hr />
    </div>
    <div class="grid">
        <table class="transfersList" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th>MerchantName</th>
                    <th>ShopName</th>
                    <th>ReceiptDate</th>
                    <th>PaidByUserName</th>
                    <th title="Total amount of recipt">TotalReceiptAmount</th>
                    <th title="Total amount that current user paid in current receipt">UserPaid</th>
                    <th title="Total amount that current user owe to payer of current receipt">UserOwed</th>
                    <th title="user balance in current receipt">Balance</th>
                    <th title="Summary from beginning until now">RunningTotal</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ReceiptReportItems)
                {
                    <tr>
                        <td><a href="https://amirpa.azurewebsites.net/Receipts/Add/@item.ReceiptId">@item.MerchantName</a></td>
                        <td><a href="https://amirpa.azurewebsites.net/Receipts/Add/@item.ReceiptId">@item.ShopName</a></td>
                        <td><a href="https://amirpa.azurewebsites.net/Receipts/Add/@item.ReceiptId">@item.ReceiptDate.ToString("dd/MM hh:mm")</a></td>
                        <td><a href="https://amirpa.azurewebsites.net/Receipts/Add/@item.ReceiptId">@item.PaidByUserName</a></td>
                        <td><a href="https://amirpa.azurewebsites.net/Receipts/Add/@item.ReceiptId">@item.TotalReceiptAmount.ToString("N2")</a></td>
                        <td>@item.UserPaid.ToString("N2")</td>
                        <td>@item.UserOwed.ToString("N2")</td>
                        <td>@item.Balance.ToString("N2")</td>
                        <td>@item.RunningTotal.ToString("N2")</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" style="text-align:right">Total &nbsp;&nbsp;</td>
                    <td><b>@Model.ReceiptReportItems.Sum(x => x.TotalReceiptAmount).ToString("##,##.##")</b></td>
                    <td><b>@Model.ReceiptReportItems.Sum(x => x.UserPaid).ToString("##,##.##")</b></td>
                    <td><b>@Model.ReceiptReportItems.Sum(x => x.UserOwed).ToString("##,##.##")</b></td>
                    <td><b>@Model.ReceiptReportItems.Sum(x => x.Balance).ToString("##,##.##")</b></td>
                    <td><b>@Model.ReceiptReportItems.LastOrDefault()?.RunningTotal.ToString("##,##.##")</b></td>
                </tr>
            </tfoot>
        </table>
    </div>
</body>
</html>
